@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--slate-300);
    font-family: 'Outfit', sans-serif;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 24px;
}

.main_content {
    display: grid;
    place-items: center;
}

.attribution {
    text-align: center;
    font-size: 12px;
    color: var(--slate-500);
}

.card {
    max-width: 320px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px 16px 40px;
    text-align: center;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.card img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.box_info {
    padding: 0 16px;
}

.box_info h1 {
    color: var(--slate-900);
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    margin: 24px 0 16px;
}

.box_info p {
    color: var(--slate-500);
    font-size: 15px;
    line-height: 140%;
    font-weight: 400;
    margin: 0;
}